:root {
  --prim-violet: #4b244e;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  height: 100vh;
  border: 2px solid blue;
}

.wrapper {
  height: 100vh;
  width: 70%;
  margin-inline: auto;
  /* border: 2px solid green; */
  /* display: block; */
  display: grid;
  place-content: center;
}
.wrapper > * {
  /* border: 2px solid green; */
}
.title {
  width: 50%;
}
.title h1 {
  font-size: 2.5rem;
  color: #4b244e;
}
.title p {
  width: 80%;
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 900;
  color: #a299a2;
}

.wrapper__first-row {
  display: flex;
}

.wrapper__second-row {
  display: flex;
}

.ratings {
  padding: 1rem;
  width: 50%;
}

.ratings div img {
  margin-inline: 0.05rem;
}

.ratings > div:nth-of-type(2) p:nth-of-type(1) {
  /* Styles for the second <p> inside the first <div> of .ratings */
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.ratings > div:nth-of-type(3) p:nth-of-type(1) {
  /* Styles for the second <p> inside the first <div> of .ratings */
  margin-top: 1rem;
  margin-left: 3rem;
}

.ratings p {
  width: 70%;
  padding: 0.5rem 1rem;
  background-color: #f6f2f7;
  border-radius: 10px;
}
.ratings div img {
  margin-inline: 0.2rem;
}

.ratings div {
  display: flex;
}

.card img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.card {
  height: 80%;
  width: 80%;
  /* border: 2px solid pink; */
  border-radius: 10px;
  background-color: var(--prim-violet);
  color: #f4f0f4;
  padding: 1rem;
}
.card p {
  text-align: center;
}

.card .row {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-bottom: 1rem;
}
.card img {
  margin-right: 0.8rem;
}

.card h2 {
  padding-top: 0.1rem;
  font-size: 1rem;
}
.wrapper__second-row {
  margin-top: 2rem;
}
.wrapper__second-row p {
  font-size: 0.8rem;
}

.wrapper__second-row > div:nth-of-type(2) {
  margin-top: 2rem;
  margin-left: 1rem;
}
.wrapper__second-row > div:nth-of-type(3) {
  margin-left: 1rem;
  margin-top: 4rem;
}
